/* Nicole Kucik's style sheet */
body{
    background:#C2C2D6;
    margin:0;
}

a{
    color:#006081;
}

li{
    line-height:20px;
}

table{
    border-color:#AAA;
    border-style:inset;
    border-width:thin;
    width:100%;
}

td{
    border-color:#AAA;
    border-style:inset;
    border-width:thin;
}

#box{
    border-radius:15px;
    border-radius:15px;
    border-radius:15px;
    background-color:#FFFFDA;
    font-family: Verdana, sans-serif;
    border:3px solid #006081;
    border-radius:15px;
    color:#006081;
    margin:.5in auto;
    padding:20px;
    text-align:left;
    width:70%;
}
h2{
    text-align: center;
}

img{
    max-width:100%;
}

#schedule{
    text-align:center;
}

#lastUpdate{
    color:#CCC;
    text-align:center;
}

#error{
    color:#EEEEE0;
    text-align:center;
}

#copyright{
    clear: both;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color:#5E145E;
    font-family: Verdana, sans-serif;
    margin:24px;
}

#copyright a{
    color:#5E145E;
}

#copyright li{display:block;
    float:right;
    list-style:none;
    text-align:right;
    width:100px;
}

#oculus-me{
    border:3px solid #FFF;
    border-radius:7px;
    color:#FFF;
    margin:.5in auto;
    padding:20px;
    width:25%;
}

#dr-me{
    border:3px solid #FFF;
    border-radius:7px;
    color:#FFF;
    margin:.5in auto;
    padding:20px;
    width:50%;
}

#date{
    text-align:right;
    font-size:10px;
}

/* Start of stuff */
#sddm{
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 30;
}

#sddm li{
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    font: bold 17px arial;
}

#sddm li a{
   display: block;
    margin: 0 1px 0 0;
    padding: 4px 10px;
    width: 85px;
    background: #FFFFDA;
    color: #006081;
    text-align: center;
    text-decoration: none;
}

#sddm li a:hover{
   background: #FFFFE9;
}

#sddm div{
   position: absolute;
    visibility: hidden;
    margin: 0;
    padding: 0;
    background: #FFFFDA;
    border: 1px solid #FF80B2;
}

#sddm div a{
    position: relative;
    display: block;
    margin: 0;
    padding: 5px 10px;
    width: auto;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    background: #FFFFDA;
    color: #006081;
    font: 11px arial;
}

#sddm div a:hover{
    background: #FFFFE9;
    color: #66A0B3;
}
/* Start of photo gallery */
div.img {
    margin: 5px;

    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

div.img img {
    display: inline;
    margin: 5px;
    padding: 4px;
    border: 1px solid #b4acb4;
    border-radius:2px;
    color:#FFF;
    margin:.5in auto;
    padding:20px;
}

div.img a:hover img {
    border:1px solid #FFCCE0;
}

