html {
	overflow-x: hidden;
}

body {
	color: black;
	text-align: center;
	font-size: 25px;
	font-family: 'Roboto Slab', sans-serif;
	padding-top: 50px;
}

.navbar {
	padding-top: 10px;
	background-color: white;
}

.navbar a {
	color: black;
	text-decoration: none;
	padding: 15px 10px;
}

.navbar li {
	display: inline;
}

.jumbotron {
	display: block;
	margin: 0px auto;
}

#home {
	background-image: url('../res/self.JPG');
	height: 675px;
  	background-repeat: no-repeat;
	background-size: cover;
    background-position-y: 60%;
    background-position-x: 50%; 
}

.jumbotron .container {
	position: relative;
	top: 5px;
	border-radius: 20px;
	background: rgba(255,255,255,0.6);
}

.jumbotron .container h1 {
	color: black;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
}

.jumbotron .container h2 {
	color: black;
	font-size: 40px;
	text-align: center;
}

a {
	color: gray;
}

a:hover {
	color: #3D3D3D;
	text-decoration: none;
}

ul {

	list-style-type: none;
}

p {
	font-size: 20px;
}

.exp {
	margin-bottom: 30px;
}

.info {
	background-image: url('../res/elana.JPG');
	height: 350px;
  	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.info .container {
	color: white;
	position: relative;
	top: 25%;
	right: 20%;
	width: 40%;
	border-radius: 20px;
	background: rgba(0,0,0,0.5);
	padding-bottom: 10px;
	background-position: center;
}

.info .container p {
	font-size: 100%;
}

.info .container a {
	color: white;
	text-decoration: none;
	background-position: center;
}

div.col-md-6 img {
	width: 100%;
	height: 100%;
	padding-bottom: 10px;
}

footer {
	color: black;
	text-align: center;	
	font-size: 80%;
	padding: 2%;
}

footer .container {
	width: 50%;
}

@media screen and (max-width: 1199px){
	.navbar a {
		font-size: 23px;
	}

	.jumbotron .container {
		width: 55%;
	}

	.jumbotron .container h1 {
		font-size: 45px;
	}

	.jumbotron .container h2 {
		font-size: 35px;
	}

	.info .container {
		position: relative;
		width: 55%;
	}

	.info .container p {
		font-size: 60%;
	}

	footer .container {
		width: 90%;
	}	
}

@media screen and (min-width: 1200px){
    .jumbotron .container {
        width: 40%;
    }
}